<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center" class="jumbotron">
  <img src="/assets/restaurant.jpg" height = 150 px width = 1500px >
  
  <br>
  <h2>
    {{ title }}
  </h2>


<div>
  
<a routerLink="/restaurant" class="btn btn-primary">Restaurant Details </a> 
<a routerLink="/addRestaurant"  class="btn btn-success">Add Restaurant</a> 
<a routerLink="/buyRestaurant" class="btn btn-warning">Buy Restaurant</a> 

</div>
<router-outlet></router-outlet>
</div>